<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :email, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :hotel_id %>
    <%= form.collection_select :hotel_id, Hotel.all, :id, :hotel_name, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :check_in_date %>
    <%= form.date_field :check_in_date %>
  </div>

  <div class="field">
    <%= form.label :check_out_date %>
    <%= form.date_field :check_out_date %>
  </div>

  <div class="field">
    <%= form.label :room_type_id %>
    <%= form.collection_select :room_type_id, RoomType.all, :id, :type, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
