<h1>Edit Booking</h1>
<%= form_for @booking do |f| %>
  <div>
    <%= f.label :hotel_id, 'Hotel' %>
    <%= f.collection_select :hotel_id, Hotel.all, :id, :hotel_name %>
  </div>
  <div>
    <%= f.label :room_type_id, 'Room Type' %>
    <%= f.collection_select :room_type_id, RoomType.all, :id, :type %>
  </div>
  <div>
    <%= f.label :check_in_date %>
    <%= f.date_field :check_in_date %>
  </div>
  <div>
    <%= f.label :check_out_date %>
    <%= f.date_field :check_out_date %>
  </div>
  <div>
    <%= f.label :status %>
    <%= f.select :status, ['Confirmed', 'Pending', 'Cancelled'] %>
  </div>
  <div>
    <%= f.submit 'Update Booking' %>
  </div>
<% end %>
<%= link_to 'Back', bookings_path %>
