<h1>My Bookings</h1>
<table>
  <thead>
    <tr>
      <th>Hotel</th>
      <th>Room Type</th>
      <th>Check-in Date</th>
      <th>Check-out Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.hotel.hotel_name %></td>
        <td><%= booking.room_type.type %></td>
        <td><%= booking.check_in_date %></td>
        <td><%= booking.check_out_date %></td>
        <td><%= booking.status %></td>
        <td>
          <%= link_to 'Show', booking_path(booking) %>
          <%= link_to 'Edit', edit_booking_path(booking) %>
          <%= link_to 'Cancel', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
