<h1>Hotels</h1>
<%= link_to 'Add New Hotel', new_hotel_path %>
<ul>
  <% @hotels.each do |hotel| %>
    <li>
      <%= link_to hotel.hotel_name, hotel %>
      - <%= hotel.location %>
      - <%= hotel.description.truncate(50) %>
      <%= link_to 'Edit', edit_hotel_path(hotel) %> |
      <%= link_to 'Delete', hotel_path(hotel), method: :delete, data: { confirm: 'Are you sure?' } %>

    </li>
  <% end %>
</ul>
