<h1>All Hotels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Contact Details</th>
      <th>Amenities</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.hotel_name %></td>
        <td><%= hotel.description %></td>
        <td><%= hotel.location %></td>
        <td><%= hotel.contact_details %></td>
        <td><%= hotel.amenities %></td>
        <td><%= link_to 'Show', hotel %></td>
        <td><%= link_to 'Edit', edit_hotel_path(hotel) %></td>
        <td><%= link_to 'Delete', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Hotel', new_hotel_path %>
